{% extends 'symphonet/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Symphonet
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'style/about.css' %}">

{% block body_block %}
    <div class="about-section">
        <p>Welcome to symphonet!</p>
        <p>symphonet is a music platform dedicated to letting music lovers a place to share and enjoy music with their friends!</p>
        <p>Users can rate songs and create playlists and artists can add new songs and albums to the site!</p>
    </div>



{% endblock %}