{% extends 'symphonet/base.html' %}
{% load staticfiles %}

<!-- Should eventually be username -->
{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    <div>
        <h2>User's Playlists</h2>
        <a href="{% url 'symphonet:playlists' %}">My Playlists</a>
        <a href="{% url 'symphonet:add_playlist' %}">New Playlist</a>
        </form>
    </div>

    <div>
        <h2>Your Top Songs</h2>
        <a href="{% url 'symphonet:user_reviews' %}">My Reviews</a>
    </div>

    <div>
        <h2>Friend's Playlists</h2>
    </div>
{% endblock %}