{% extends 'symphonet/base.html' %}
{% load staticfiles %}

<!-- Should eventually be username -->
{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<div class="container">
        <h2>Your Playlists</h2>
        <div class="container-fluid bg-light">
        <a href="{% url 'symphonet:add_playlist' %}">new playlist</a>
        {% if playlists %}
            {% for playlist in playlists %}
                <p>{{ playlist.name }}</p>
            {% endfor %}
        {% else %}
            <p>No playlists currently.</p>
        {% endif %}
        </div>

    <h2>Your Top Songs</h2>
        <div class="container-fluid bg-light">
        <a href="{% url 'symphonet:user_reviews' %}">My Reviews</a>
        {% if ratings %}
            {% for rating in ratings %}
                {{ rating.song.name }}
                {{ rating.score }}
            {% endfor %}
        {% else %}
            <p>No reviews currently.</p>
        {% endif %}
        </div>

    <div>
        <h2>Your Friends</h2>
        {% if friends %}
            <ul>
                {% for friend_profile in friends %}
                    <li>{{ friend_profile.user.username }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any friends yet.</p>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'symphonet:add_friends' %}">Add Friends</a>
    </div>

    <div>
        <a href="{% url 'symphonet:remove_friends' %}">Remove Friends</a>
    </div>
</div>
{% endblock %}