{% extends 'symphonet/base.html' %}
{% load staticfiles %}
<html lang="en">

{% block title_block %}
Sign Up
{% endblock %}

{% block style_block %}

{% endblock %}

{% block body_block %}
<div class="login-form"> 

    
   
    {% if registered %}
        <p> thank you for signing up</p>
        <a href = "{% url 'symphonet:index' %}">Main Page</a>
    {% else %}
    <form id="user_form" method = "post" action="{% url 'symphonet:sign_up' %}" enctype = "multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}
       
        <div class="btn-container">
            <input type="submit" class="btn" name = "submit" value="Sign up">
        </div>
        <div class="btn-container">
            <button type="button" class="btn" onclick="window.location.href='{% url 'symphonet:user_login' %}'"><!--There is no error here even tho it has a red marker,it works fine-->
                Login
            </button>  
        </div>
       
    </form>
    {% endif %}
    
</div>
{% endblock %}

</html>